target/
.allure/
.idea/
*.iml
toolchain-fitnesse-plugin-test/wiki/fitnesse-standalone.jar
toolchain-fitnesse-plugin-test/wiki/plugins/*.jar
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/**/*.zip
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/screenshots
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/testResults
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/testProgress
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/downloads
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/pagesources
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/ErrorLogs
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/FitNesse
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/RecentChanges*
updateDoNotCopyOverList
updateList
properties
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/Hsac*
toolchain-fitnesse-plugin-test/wiki/fixtures/
toolchain-fitnesse-plugin-test/wiki/webdrivers/
**/*.log
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/fileFixture
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/test
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/base64
toolchain-fitnesse-plugin-test/wiki/bye.txt
toolchain-fitnesse-plugin-test/wiki/greeting.txt
toolchain-fitnesse-plugin-test/wiki/copy/greetingCopy.txt
toolchain-fitnesse-plugin-test/wiki/greeting.html
bye.txt
greeting.txt
copy/greetingCopy.txt
greeting.html
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/httpPostExamples
toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/galenExamples
**/*.zip
