target/
.allure/
.idea/
*.iml
**/*properties
**/*.log
**/*.zip
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/RecentChanges.wiki
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/Hsac*
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/FitNesse/
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/galenExamples/
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/httpPostExamples/
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/xmlTestExamples/
/toolchain-fitnesse-plugin-test/wiki/fixtures/
/toolchain-fitnesse-plugin-test/wiki/plugins/
/toolchain-fitnesse-plugin-test/wiki/webdrivers/
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/screenshots
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/testResults
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/testProgress
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/downloads
/toolchain-fitnesse-plugin-test/wiki/FitNesseRoot/files/pagesources
/toolchain-fitnesse-plugin-test/wiki/fitnesse-standalone.jar

.vscode/
