name: Run testcases

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run all java testcases
      run: mvn test --file /toolchain-fitnesse-plugin/pom.xml
